@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color:  hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

h1{
    font-size: 2.3rem;
    max-width: 20ch;
    color: #fff;
    font-weight: 600;
}

p{
    max-width: 50ch; 
    color: #fff; 
    opacity: .7;
}

header{
    position: absolute;
    left: 2em;
    top: 2em;
    
}

header>svg{
    transform: scale(80%);
}

main{
    margin: 13rem auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    max-width: calc(100% - 40px);
}

.right{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 80px;
    
}

.left{
    width: fit-content;
}

main a{
    background-color: #fff;
    color:  hsl(257, 40%, 49%);
    text-decoration: none;
    text-align: center;
    width: 12rem;
    padding: .8rem 0;
    border-radius: 30px;
    letter-spacing: 1px;
    box-shadow: 0px 2px 4px 5px #00000021;
}

main img{
    margin: 0 10px;
}

main a:hover{
   color: #ffff; 
   background-color: hsl(300, 69%, 71%);
   font-weight: lighter;
}

footer{
    margin-top: 70px;
    display: flex;
    gap: 30px;
    margin: 30px 100px 0;
    align-items: center;
    justify-content: flex-end;
}
footer svg:hover path{
    fill: hsl(300, 69%, 71%);
}

@media (max-width: 416px){
    body{
        background-image: url(images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100% auto;
    }

    header>svg{
        width: 80%;
    }

    main>img{
        width: 85%;
    }


    h1{
    font-size: 1.8rem;
    max-width: 30ch;
    text-align: center;
    }

    p{
    max-width: 30ch;
    text-align: center;
    }

    .right{
    align-items: center;
    }

    footer{
    justify-content: center;
    margin-bottom: 40px;
    margin-top: -20px;
    }
    main{
        margin-top: 10rem;
        gap: 50px;
    }
}